body {
    font-family: Helvetica;
	margin: auto;
}

div {
	margin:10;
	height: auto;
	min-height: 100%;
    max-width: auto;
}

p.cli {
    background-color: #F0F0F0;
	padding: 10px;
	border-radius: 5px;
	font-family: Helvetica;
	word-wrap: break-word;
    max-width: 800;
}

img.limit{
    width:100%;
    max-width:400px;
}
img.align{
    max-width: 100%;
}
a.link {
    color: black;
}
