body {
    height: 100%;
    font-family: Helvetica;
    margin: auto;
}

div.main {
    margin:10;
    height: auto;
    min-height: 100%;
    max-width: auto;
}

div.page {
    padding 1px 10px;
    margin:10px;
    height: auto;
    max-width: 800;
}

p.cli {
    background-color: #F0F0F0;
	padding: 10px;
	border-radius: 5px;
	font-family: Helvetica;
	word-wrap: break-word;
    max-width: 800;
}

img.limit{
    width:100%;
    max-width:400px;
}
img.align{
    max-width: 100%;
}
a.link {
    color: black;
}
